In [1]:
%matplotlib

Using matplotlib backend: <object object at 0x0000027AEDC36DA0>

In [2]:
# LLS = (W^T * X)^-1  X^T y 
# yeho be javab miresim
# LLS faghat baraye masaele khati khorooji midad
# faghat be darde regression mikhord
# faghat dar soorate vojood dashtane makoose matrix javab midad

In [3]:
# perceptron 
# 
# w ye initial rro be soorate random midim . rand()
# X va Y ro hamishe darim 
# hadaf peyda kardane W hast

# y_pred = x * w

# Error = y - y_pred

# calc LOSS

### AZ ROOYE ERROR  , loss function hayee mesle MSE , MAE , ... mishe bedast avord

# hala ba LOSS , W ro UPDATE mikonim

### ta vaghti ke error == 0 beshe edame midim

In [2]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd
from sklearn.model_selection import train_test_split
import time

In [3]:
data = pd.read_csv("weight-height.csv")
data

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [4]:
X = data["Height"].values # bayad be numpy tabdil konim dar mohaasebaat
#OR --->   X = np.array(data["Height"])
X

array([73.84701702, 68.78190405, 74.11010539, ..., 63.86799221,
       69.03424313, 61.94424588])

In [5]:
Y = data["Weight"].values
X_train , X_test , Y_train , Y_test = train_test_split(X , Y , test_size=0.2)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

X_train = X_train.reshape(-1 , 1)
print(X_train.shape)
X_test = X_test.reshape(-1 , 1)
Y_train = Y_train.reshape(-1 , 1)
Y_test = Y_test.reshape(-1 , 1)

(8000,)
(2000,)
(8000,)
(2000,)
(8000, 1)

In [8]:
W = np.random.rand(1,1)
W

array([[0.68622648]])

In [9]:
plt.scatter(X_train , Y_train )
plt.show()
# pas linear hast

In [10]:
learning_rate = 0.0001
for i in range(X_train.shape[0]): # 8000 bar tekrar shod be ezaye data haye train 
    x = X_train[i]
    y = Y_train[i]

    y_pred = x @ W
    error = y - y_pred
    W = W + (error * x * learning_rate)
    #print(W)
    #time.sleep(0.5)


# ba vojoode LR , dige w na kheili koochik mishe na kheili bozorg ,, va dar akhar ham dige Nan nemishe
# va dar baazeye mahdoodi taghir mikone , dar range 2

## W_new = W_prior + (error * x * Learning_Rate )

In [ ]:
# animation for seeing w and fit line to datas
W = np.random.rand(1,1)
Bias  = np.random.rand(1,1)

fig , ax = plt.subplots(1,1)
learning_rate = 0.0001
for i in range(X_train.shape[0]):
    x = X_train[i]
    y = Y_train[i]

    y_pred = x @ W
    error = y - y_pred
    W = W + (error * x * learning_rate)
    print(W)
    #time.sleep(0.5)

    Y_pred = X_train * W # Y_pred for all datas - zarbe adadi kardim chon W 
    ax.clear()
    ax.scatter(X_train , Y_train , color="blue")
    ax.plot(X_train , Y_pred , color="red")
    plt.pause(0.01)

In [ ]:
#y = w * x + bias 
# bias ham random hast 
# agar bias nazarim arz az mabda hamishe = 0 hast